.blogcontent{
  margin-top: -40px;
  display: flex;
}
h1{
  margin: 20px;
}
.textContainer{
  width: 60%;
}

.blogcontent p{
  display: flex;
  margin: 20px;
}
.imgContainer{
  width: 40%;
  display: flex;
  justify-content: end;
  margin: 0 0 20px 50px;
}
.blogcontent img{
  display: flex;
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
}
.contentContainer {
  margin-left: 10%;
  margin-right: 10%;
}

