<div class="contentContainer" *ngIf="blogpost">

  <div class="blogpost-content-container">
    <div>
      <p>ACADEMY | {{blogpost.attributes.createdAt | date}}</p>
      <h1>{{blogpost.attributes.title}}</h1>
    </div>
    <div class="blogcontent">
      <div class="textContainer">
        <div [innerHTML]="blogpost.attributes.content"></div>
      </div>
      <div class="imgContainer">
        <img src="{{blogpost.attributes.thumbnail.data.attributes.url}}">
      </div>
    </div>

  </div>

</div>
