<div class="contentContainer">
  <p>Moodboard</p>
<h1>{{moodboard$.attributes.title}}</h1>
<p>ID: {{moodboard$.id}}</p>
<p>Erstellt am: {{moodboard$.attributes.createdAt | date}}</p>
<p>Description: {{moodboard$.attributes.description}}</p>
<p>@{{moodboard$.attributes.moodboard_creator.data.attributes.username}}</p>
<p>Contains {{moodboard$.attributes.postings.data.length}} postings</p>
<app-single-posting-card class="overview" *ngFor="let post of postingsInMoodboard$ | async" [posting]="post"></app-single-posting-card>
</div>
