mat-dialog-content {
  display: flex;
  padding: 20px;
  border-radius: 30px;
}

img {
  border-radius: 20px;
  width: 100%;
  max-width: 670px;
}
.postingImgContainer{
  overflow: scroll;
}
.postingDetailsInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
}

.detailHeader {
  display: flex;
  justify-content: space-between;
}

.detailCloseBtn {
  display: flex;
  justify-content: end;
  margin-right: -30px;
}

.postingAddImg{
  margin-top: 40px;
}

.place {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.alignItems{
  display: flex;
  justify-content: space-between;
}
