nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background: linear-gradient(130deg, rgba(0,37,65,1) 30%, rgb(0, 50, 87) 60%);
}

nav .list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s;
}

nav .list li{
  font-weight: 600;
  padding: 6px 15px 4px 15px;
  border-radius: 20px;
  letter-spacing: 0.1em;
  transition: 0.4s;
  text-align: center;
}

nav .list:hover li,
nav .list:active li {
  transition: 0.4s;
  background: #ee6756;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: scale(1.03);
}

nav .list:hover li:not(:hover), nav .list:hover li:not(:hover) a {
  background: transparent;
  transform: scale(1);
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}

.signUp{
  border: 2px solid #ee6756;
}

nav .list:hover .signUp:not(:hover){
  border: 2px solid rgba(238, 103, 86, 0.3);
}

#burgerMenu, label {
  display: none;
}

label{
  color: #fff;
  transform: rotate(90deg);
}

.logo {
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 2px;
}
.dott{
  color: #ee6756;
}

.userLogo{
  font-size: 14px;
  margin-top: -15px
}

@media screen and (max-width: 1130px) {
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  nav label{
    display: inline-flex;
    cursor: pointer;
  }
  #burgerMenu:checked ~ .menu{
    max-height: 100% ;
  }
}
