<nav>

  <a class="logo" routerLink="/">Moodboards<span class="dott">.</span></a>

  <input type="checkbox" id="burgerMenu">
  <label for="burgerMenu">|||</label>

  <div class="menu">
    <ul class="list">
      <li><a routerLink="/postings">Postings</a></li>
      <li><a routerLink="/moodboards">Moodboards</a></li>
      <li><a routerLink="/academy">Academy</a></li>

      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isLoggedIn" class="signUp"><a routerLink="/register">Sign up</a></li>

      <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
    </ul>
  </div>

</nav>
