.userInfo {
  margin-bottom: 95px;
}


#postingNav {
  cursor: pointer;
}

#moodboardNav {
  cursor: pointer;
}

.profileNavi {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.profileNavi h3 {
  margin: 15px;
}

.active{
  border-bottom: 7px solid #2b1055 !important;
}

.hiddeContainer{
  display: none !important;
}
