<div class="contentContainer pageContainer" xmlns="http://www.w3.org/1999/html">

  <div class="fullWidth">

    <div class="headerWithSidebar">
      <!--user sidebar-->

      <div class="sidebar">
        <button class="sidebarBtn" (click)="logOut()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>
          LOGOUT
        </button>
        <button class="sidebarBtn" (click)="editUserData()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
               viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
          EDIT PROFILE
        </button>
        <button class="sidebarBtn" (click)="openDeleteUserDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
               viewBox="0 0 16 16">
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>
          DELETE PROFILE
        </button>
        <button class="sidebarBtn" (click)="openCreatePostingDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
               viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          CREATE POSTING
        </button>
        <button class="sidebarBtn" (click)="openCreateMoodboardDialog()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
               viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          CREATE MOODBOARD
        </button>
      </div>

      <!--user zeug-->
      <div>
        <div *ngIf="currentUser.user">

          <div class="center">
            <div class="userInfo">
              <h1>@{{ user.username }}</h1>
              <p class="alignTextCenter">{{ user.description }}</p>
            </div>
          </div>


          <div *ngIf="userCurrentlyEdit">

            <label>Username</label>
            <input [(ngModel)]="this.currentUsername" type="text" name="username" id="username" required
                   minlength="3" maxlength="20"/>

            <label>Email</label>
            <input [(ngModel)]=" this.currentMail" type="email" name="email" id="email"/>

            <label>Description</label>
            <textarea [(ngModel)]="this.currentDescription" name="description" id="description"></textarea>

            <button (click)="saveChanges()">Save</button>
          </div>
        </div>

      </div>

    </div>



    <!--Navi-->
    <div class="profileNavi">
      <h3 id="postingNav" (click)="showPostings();" class="active">YOUR POSTINGS</h3>
      <h3 id="moodboardNav" (click)="showMoodboards();">YOUR MOODBOARDS</h3>
    </div>

    <!--Users Postings-->
    <div class="overviewContainer" id="postingsContainer">
      <app-single-posting-card class="single-postingCard" *ngFor="let post of postings$ | async"
                               [posting]="post"></app-single-posting-card>
    </div>

    <!--Users Moodboards-->
    <div class="overviewContainer hiddeContainer" id="moodboardContainer">
      <app-single-moodboard-card *ngFor="let moodboard of moodboards$ | async"
                                 [moodboard]="moodboard"></app-single-moodboard-card>
    </div>
  </div>

</div>
