.profileDescr {
  text-align: center;
}
.userInfo {
  margin-bottom: 95px;
}

#postingsContainer {
  display: block;
}

#moodboardContainer {
  display: none;
}

#postingNav {
  border-bottom: 7px solid #2b1055;
  cursor: pointer;
}

#moodboardNav {
  border-bottom: none;
  cursor: pointer;
}

.profileNavi {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.profileNavi h3 {
  margin: 15px;
}

