.userInfo {
  margin-bottom: 95px;
}


#postingNav, #moodboardNav, #coCreatorNav  {
  cursor: pointer;
}


.profileNavi {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.profileNavi h3 {
  margin: 15px;
}

.active{
  border-bottom: 7px solid #002541 !important;
}

.hideContainer{
  display: none !important;
}
.noContent{
  text-align: center;
}
