<div class="contentContainer pageContainer" *ngIf="moodboard">

  <div class="fullWidth">

    <div class="sidebar" *ngIf="isLoggedIn && isOwner">
      <button class="sidebarBtn" (click)="openEditMoodboardDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
             viewBox="0 0 16 16">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
        EDIT MOODBOARD
      </button>
      <button class="sidebarBtn" (click)="openDeleteDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
             viewBox="0 0 16 16">
          <path
            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
        DELETE MOODBOARD
      </button>

    </div>

    <div>

      <div class="center">
        <div class="moodboardInfo">

          <div class="moodboardInfo-Head">
            <h1>{{moodboard.attributes.title}}</h1>
            <div *ngIf="isLoggedIn && isOwner" class="visible_Container">
              <div *ngIf="moodboard.attributes.private == false">
                <div class="own-Tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="visible_Icon bi bi-eye" viewBox="0 0 16 16">
                    <path
                      d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                  </svg>
                  <span class="own-tooltiptext">Moodboard is not private</span>
                </div>
              </div>

              <div *ngIf="moodboard.attributes.private == true">
                <div class="own-Tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="visible_Icon bi bi-eye-slash" viewBox="0 0 16 16">
                    <path
                      d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                    <path
                      d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                    <path
                      d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                  </svg>
                  <span class="own-tooltiptext">Moodboard is private</span>
                </div>
              </div>
            </div>


          </div>

          <p class="alignTextCenter moodboardInfo-user">Moodboard by
            @{{moodboard.attributes.moodboard_creator.data.attributes.username}}</p>

          <p class="alignTextCenter">{{moodboard.attributes.description}}</p>

        </div>
      </div>


      <p>Contains {{moodboard.attributes.postings.data.length}} postings</p>
      <div class="overviewContainer-Postings" >
        <div *ngFor="let post of postingsInMoodboard$ | async" class="single-postingCard" >

          <div class="postingCard">
            <div>
              <div class="removeFromMood-Container" *ngIf="isLoggedIn && isOwner" >

                <div class="own-Tooltip">
                  <span class="removeFromMood-Icon" (click)="removeImgFromMoodboard(post.id)">-</span>
                  <span class="own-tooltiptext">remove Post from Moodboard</span>
                </div>
              </div>

              <div class="img-gradient" (click)="showPostDetails(post.id)">
                <img alt="postingImg" [src]="post.attributes.image.data.attributes.url">
              </div>

              <div class="singleCardInfo" (click)="showPostDetails(post.id)">
                <div>
                  <p><b>{{post.attributes.title}}</b></p>
                  <p class="singleCardTag"> {{post.attributes.tag}} </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
