<mat-dialog-content>
  <div class="detailLeft">
    <img alt="Image not working" [src]="posting.attributes.image.data.attributes.url">
  </div>

  <div class="postingDetailsInfo">
    <div>

      <div class="detailHeader" *ngIf="isLoggedIn && isOwner">
        <div class="dropdown">
          <mat-icon>more_horiz</mat-icon>
          <div class="dropdown-content">
            <p (click)="deletePosting()">Delete</p>
            <p (click)="editPosting()">Edit</p>
          </div>
        </div>

        <div class="detailCloseBtn">
          <button mat-button mat-dialog-close>X</button>
        </div>
      </div>

      <div *ngIf="!isLoggedIn || !isOwner">
        <div class="detailCloseBtn">
          <button mat-button mat-dialog-close>X</button>
        </div>
      </div>


      <div class="place">
        <p>@{{posting.attributes.posting_creator.data.attributes.username}}</p>
        <p>{{posting.attributes.publishedAt | date}}</p>
      </div>

      <div *ngIf="!editPost">
        <h2>{{posting.attributes.title}}</h2>
        <p>{{posting.attributes.description}}</p>
        <p class="noMarginBottom">Category</p>
        <mat-chip-list>
          <mat-chip class="chip">{{posting.attributes.tag}}</mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="editPost">
        <label for="title">Title</label>
        <input [(ngModel)]="title" type="text" class="form-control" id="title" name="title"
               value="{{posting.attributes.title}}">

        <label for="description">Description</label>
        <textarea [(ngModel)]="description" type="text" class="form-control" id="description" name="description"
                  value="{{posting.attributes.description}}"></textarea>

        <label for="tag">Tag</label>
        <select id="tag" [(ngModel)]="tag" name="tag">
          <option value="Other">Other</option>
          <option value="Color">Color</option>
          <option value="Font">Font</option>
          <option value="Wireframe">Wireframe</option>
          <option value="UI-Element">UI-Element</option>
          <option value="Icon">Icon</option>
        </select>

        <button class="addBtn" (click)="save()">Save</button>
      </div>


    </div>


    <div *ngIf="isLoggedIn" class="place">
           <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select #moodboards>
          <mat-option *ngFor="let moodboard of moodboard$ | async" [value]="moodboard.id"> {{moodboard.attributes.title}}  </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="addBtn" (click)="addImageToMoodboard(posting.id, moodboards.value )">Add to Moodboard</button>
    </div>
  </div>

</mat-dialog-content>


