/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

body {
  margin: 0;
  font-family: "poppins", sans-serif;
}

.overview {
  display: inline-grid;
}

html, body {
  height: 100%;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 30px !important;
}

h1, .centerText {
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}

button {
  border: none;
  padding: 8px 20px;
  background-color: #2b1055;
  color: #fff;
  transition: 0.4s;
  border-radius: 30px;
}

button:hover {
  background-color: #4d1792;
  color: #fff;
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.register-Login_Card {
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.displayAsColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  border-radius: 30px !important;
  border: none !important;
  background-color: #f1f1f1 !important;
  padding: 8px !important;
}


label {
  margin-left: 15px;
}

.contentContainer {
  margin-left: 3%;
  margin-right: 3%;
}
.noMarginBottom{
  margin-bottom: 0;
  margin-top: 30px;
}

/**------------Dropdowns---------------**/
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 0;
}

.dropdown-content p:first-child:hover {
  background-color: #ddd;
  cursor: pointer;
  border-radius: 15px 15px 0 0
}

.dropdown-content p:last-child:hover {
  background-color: #ddd;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
}

.dropdown:hover .dropdown-content {display: block; border-radius: 15px}
