<mat-dialog-content>

  <div class="detailHeader">
    <h3>Create Moodboard</h3>
    <button mat-button mat-dialog-close>X</button>
  </div>


  <form>

    <div class="form-group">
      <label for="title_Input">Title*</label>
      <input [(ngModel)]="title" type="text" class="form-control" id="title_Input"  name="title">
    </div>

    <div class="form-group">
      <label for="description_Input">Description</label>
      <input [(ngModel)]="description" type="text" class="form-control" id="description_Input"  name="description">
    </div>

    <div class="form-group ">
      <p>Visibility</p>
      <p>set private</p>
      <label class="switch" for="visibility_Input">
      <input [(ngModel)]="visibility" type="checkbox" id="visibility_Input"  name="visibility">
      <span class="slider round"></span>
      </label>
    </div>

    <button (click)="createMoodboard()" type="submit">create</button>

  </form>

</mat-dialog-content>
