<mat-dialog-content>

  <div class="dialog-header">
    <p>Create Moodboard</p>
    <button mat-button mat-dialog-close>X</button>
  </div>


  <form class="displayAsColumn">

    <div class="displayAsColumn title">
      <label for="title_Input">Title*</label>
      <input [(ngModel)]="title" type="text" class="form-control" id="title_Input" name="title">
    </div>

    <div class="displayAsColumn">
      <label for="description_Input">Description</label>
      <textarea [(ngModel)]="description" type="text" class="form-control" id="description_Input"
                name="description"></textarea>
    </div>

    <div class=" displayAsColumn">
      <div class="toggleSec">
        <p>set visibility private</p>
        <label class="toggle-switch" for="visibility_Input">
          <input [(ngModel)]="visibility" type="checkbox" id="visibility_Input" name="visibility">
          <span class="toggle-slider round"></span>
        </label>
      </div>
    </div>

    <button (click)="createMoodboard()" type="submit">create</button>

  </form>

</mat-dialog-content>
