header{
  background-color: #2b1055;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffffff;
  border-radius: 20px;
  letter-spacing: 0.1em;
}

header ul li a:hover,
header ul li a.active {
  background: #ffffff;
  color: #2b1055;
  letter-spacing: 2px;
  transition: 0.5s;
}

header .logo {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .underLogo{
  font-size: 15px;
  letter-spacing: 9px
}
