<header>
  <a class="logo"  routerLink="/"><div>Moodboards.</div><div class="underLogo">your better design</div></a>
  <ul>
    <li><a routerLink="/allPostings">Postings</a></li>
    <li><a routerLink="/allMoodboards">Moodboards</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/regist">Regist</a></li>
  </ul>

  <!--
  <form *ngIf="!this.auth.isLoggedIn()" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Benutzername" [(ngModel)]="username" name="username" aria-label="Benutzername">
    <input class="form-control mr-sm-2" type="password" placeholder="Passwort" [(ngModel)]="password" name="password" aria-label="Passwort">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="this.auth.logIn(this.username, this.password)" type="submit">Anmelden</button>
  </form>
  <button *ngIf="this.auth.isLoggedIn()" class="btn btn-outline-success" (click)="this.auth.logOut()" type="submit">Abmelden</button>
  -->
</header>
