<header>

  <a class="logo" routerLink="/">
    <div>Moodboards.</div>
    <div class="underLogo">your better design</div>
  </a>


  <ul>
    <li><a routerLink="/allPostings">Postings</a></li>
    <li><a routerLink="/allMoodboards">Moodboards</a></li>
    <li  *ngIf="!isLoggedIn" ><a routerLink="/login">Login</a></li>
    <li  *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>

    <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
    <li *ngIf="isLoggedIn"><a href (click)="authService.logout()">Logout</a></li>
  </ul>


</header>
