/*
.contentContainer {
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg?w=2000);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-right: -2%;
  margin-left: -2%;
}

 */
