.moodboardCard {
  margin: 5px;
  padding: 10px;
  display: flex;
  border-radius: 30px;
  transition: 0.5s;
}

.moodboardCard:hover {
  transform: scale(1.03);
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  cursor: pointer;
}

.singleCardInfo{
  margin-left: 7px;
  margin-top: 7px;
}

.singleCardTag{
  font-size: 14px;
  color: gray;
  margin-top: 0;
}

img {
  border-radius: 20px;
  border: 1px solid #f6f6f6;
  max-height: 400px;
}

.ImgContainer {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

/**-----------------------------------------------**/
.oneImg img {
  width: 100%;
  object-fit: cover;
  top: 5px;
}

/**-----------------------------------------------**/
.twoImg img {
  width: 48%;
  height: 400px;
  object-fit: cover;
  margin: 2px;
}

.twoImg_one{
  border-radius: 20px 0 0 20px !important;
}
.twoImg_two{
  border-radius: 0 20px 20px 0 !important;
}

/**-----------------------------------------------**/
.threeImg {
  display: flex;
}

.threeImg .imageContainer {
  width: 48%;
  height: 400px;
  margin: 2px;
}

.threeImg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.threeImg .secondCont {
 display: flex;flex-direction: column;
}

.threeImg_one{
  border-radius: 20px 0 0 20px !important;
}

.threeImg_two{
  height: 199px !important;
  border-radius: 0 20px 0 0 !important;
}

.threeImg_three{
  height: 199px !important;
  border-radius: 0 0 20px 0 !important;
}


