<div class="contentContainer">
  <div>
    <div class="center">
      <h1>CREATE YOUR ACCOUNT</h1>
    </div>


    <div class="register-Login_Card">
      <form class="displayAsColumn" name="form" novalidate [formGroup]="form">

        <div class="displayAsColumn">
          <label>Username*</label>
          <input type="text" name="username" formControlName="username" required minlength="3" maxlength="20"/>
        </div>

        <div class="displayAsColumn">
          <label>Email*</label>
          <input type="email" name="email" formControlName="email" required email/>
        </div>

        <div class="displayAsColumn">
          <label>Password*</label>
          <input type="password" name="password" formControlName="password" required minlength="6"/>
        </div>

        <div class="displayAsColumn">
          <label>Repeat Password*</label>
          <input type="password" name="password_re" formControlName="password_re" required minlength="6"/>
        </div>


        <button (click)="register()">CREATE</button>
      </form>


    </div>
  </div>
</div>

