<div class="contentContainer">

  <div class="center">
    <h1>POSTINGS</h1>
  </div>

  <div class="categoryContainer">
    <ul class="categoryList">
      <li id="cat-All"  routerLink="/postings" > <a>ALL</a></li>
      <li id="cat-Color"   routerLink="/postings/Color"><a>COLOR</a></li>
      <li id="cat-Font"  routerLink="/postings/Font"><a>FONT</a></li>
      <li id="cat-UI>"  routerLink="/postings/UI-Element"><a>UI-ELEMENT</a></li>
      <li id="cat-Icon"  routerLink="/postings/Icon"><a>ICON</a></li>
      <li id="cat-Graphic"  routerLink="/postings/Graphic"><a>GRAPHIC</a></li>
      <li id="cat-Wire"  routerLink="/postings/Wireframe"><a>WIREFRAME</a></li>
      <li id="cat-Exa"  routerLink="/postings/Website-Example"><a>WEBSITE-EXAMPLE</a></li>
      <li id="cat-Oth"  routerLink="/postings/Other"><a >OTHER</a></li>
    </ul>
  </div>

  <div class="overviewContainer-Postings">
    <app-single-posting-card class="single-postingCard" (showDetailsEvent)="showPostDetails($event)" *ngFor="let post of posting$ | async" [posting]="post">
    </app-single-posting-card>
  </div>

</div>
