.postingCard{
  margin: 5px;
  padding: 10px;
  display: inline-grid;
  border-radius: 30px;
  transition: 0.4s;
}

.postingCard:hover{
  transform: scale(1.02);
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  cursor: pointer;
}

img {
  max-height: 500px;
  border-radius: 20px;
  border: 1px solid #f6f6f6;
}


.postingTagInfo{
  font-size: 14px;
  color: gray;
  margin-top: 0;
}

.postingCardInfo{
  margin-left: 5px;
  margin-top: 10px;
}

p {
  margin-bottom: 0;
}
