<h1>PROFILE</h1>

<div *ngIf="currentUser.user">
  <div>

    <h3>
      Profile of <strong>{{ currentUser.user.username }}</strong>
    </h3>

    <p><strong>Email: </strong>{{ currentUser.user.email }}</p>
    <p><strong>ID: </strong>{{ currentUser.user.id }}</p>
    <p><strong>Description: </strong>{{ currentUser.user.description }}</p>
    <p>
      <button (click)="editUserData()">Edit</button>
      <button (click)="deleteUserData()" [routerLink]="['/']">Delete Data</button>
    </p>
  </div>


  <div *ngIf="isUserEditable">
    <label>Username</label>
    <input type="text" name="username" id="username" required minlength="3" maxlength="20"
           value="{{usernameFieldValue}}"/>
    <label>Email</label>
    <input type="email" name="email" id="email" value="{{emailFieldValue}}"/>
    <label>Description</label>
    <input type="text" name="description" id="description" value="{{descriptionFieldValue}}"/>
    <button (click)="save()">Save</button>
  </div>

  <!--Users Postings-->
  <div>
    <h1 class="title">Postings</h1>
    <app-single-posting-card class="overview" *ngFor="let post of posting$ | async" [posting]="post"></app-single-posting-card>
  </div>

  <!--Users Moodboards-->
  <div>
    <h1 class="title">Moodboards</h1>
    <app-single-moodboard-card class="overview" *ngFor="let moodboard of moodboard$ | async" [moodboard]="moodboard"></app-single-moodboard-card>
  </div>


</div>


