.profileSidebar {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  justify-content: left;
  width: 15%;
}

.profileContainer {
  display: flex;
}

.profileContent{
  width: 85%;
}
.profileDescr{
  text-align: center;
}

.sidebarBtn {
  color: gray;
  background-color: #fff;
  margin-top: 5px;
  display: flex;
}

.sidebarBtn svg {
  margin-top: 3px;
  margin-right: 10px;
}

.sidebarBtn:hover {
  background-color: #3f127b;
  color: #fff;
  box-shadow: none;
}

.userInfo{
  margin-bottom: 95px;
}
#postingsContainer{
  display: block;
}

#moodboardContainer{
  display: none;
}

#postingNav{
  border-bottom: 7px solid #2b1055;
  cursor: pointer;
}

#moodboardNav{
  border-bottom: none;
  cursor: pointer;
}

.profileNavi{
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.profileNavi h3{
  margin: 15px;
}
